{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">My Personal Website.</h1>
            <p class="lead">A place to collect my thoughts and showcase their product.</p>
        </div>
    </div>

    <div class="row">
        <div class="col text-center">
            Column1
        </div>
        <div class="col text-center">
            Column2
        </div>
        <div class="col text-center">
            Column3
        </div>
    </div>
{% endblock %}
